
.pageTitle{
	color:blue;
	background-color:pink;
}

.pageMargin{
	margin-left:500%;
	margin-right:500%;
}

.centeredcontent{
	text-align:center;
	margin-top:80%;
	border-radius:8%;
}

.newrow{
	display:flex;
}

.newcolumn{
	flex:33.33%;
	font-family:cursive;	
}

img{
	border-radius:8%;
}

.column{
	float:left;
	padding:10%;
	
	
}

.left .right{
	width:25%
}

.middle{
	width:50%;
}

.big{
	margin-bottom:0%;
}

.small{
	margin-top:0%;
}

.rowsecond{
	min-height:900%;
}

.rowthird{	
}

.column{
	padding:10%;
}

.column1{
	width:30%;
	text-align:center;
}

.column2{
	width:65%;
	text-align:center;
	font-size:18%;
	font-family:cursive
}


.column4row5{
	float:left;
}

.column3{
     font-size:18%; 
	 font-family:cursive;
	 text-align:center;
	 width:50%	 
}

.column4{
	text-align:center;
	width:50%;
}


.column5{
	width:60.30%;
	text-align:center;
}

.column6{
	width:50%;
	text-align:left;
	font-family:cursive;
	top:20%;
}

.column7{
	width:30%;
	text-align:center;
}

.column8{
	width:20%;
	position: relative;
	top:-30%;
	font-family:cursive;
	color:#CD5C5C;
	text-align:center;
	text-shadow:25% 25% blue;
}

.column9{
	width:20%;
	color:#FF1493;
	text-shadow:13% 13% #8B008B
}

.column10{
	width:55%;
	font-family:cursive;
	color:#FF1493;
	v-align:center;
	text-align:left;
}

.column11{
	 text-align:center;
	 v-align:center;
}

.container{
	position:relative;
	text-align:center;
	color:black;
	clear:left;
	min-height:700%;	
}

.top-left{
	position:absolute;
	top:8%;
	left:16%;
	width:50%;	
	font-family:cursive;
	font-size:
}

.row9{
	float:left;
}

.row9firsttcolumn{
	width:25%;
}

.row9secondtcolumn{
	width:70%;
}

/* following css are for client section */

.clientdata{
	font-family:cursive;
	text-align:center;
}

.clientdata img{
	width:300%;
	height:200%;
	
}

.client1data1{
	width:20%;
	text-align:left;
	
}

.client1data2{
	width:80%;
	text-align:left;
}

.client2data1{
	text-align:left;

}

.client2data2{
	text-align:left;
}


table,th,td{
	border:1% solid black;
}

.roweigth{
	min-height:420%;
	max-height:500%;
}

.rowseventh{
	min-height:300%;
}

.row10{
	float:left;
	min-height:240%;
}

.column101{
	width:20%;
	text-align:center;
	text-shadow:25%  25% #FF0000;
}

.column102{
	width:55%;
	text-align:left;
	
}
.column103{
	text-align:left;
	width:20%;
	
}

.nutritiondietplan{
	float:left;
}


.row11{
	float:left;
	min-height:550%;
}

.vegetable{
	width:20%;
	text-shadow:15%  15% #008080;
}


.vegetable1{
	width:50%;
	
}

.vegetable2{
	width:25%;
	text-align:right;
}

.fruits{
	float:left;
	min-height:250%;
	
}

.fruitrow{
	float:left;
	
}

.fruit1{
	width:20%;
	text-shadow:25% 25% #ff0040;
	text-align:center;
}

.fruit2{
	width:55%;
	
}

.fruit3{
	width:25%;
	text-align:right;
	
}

.chart{
	text-align:center;
	font-family:cursive;
	font-size:30%;
	color:Violet;
	min-height:5%;
	max-height:0%;
}
.chart2{
	font-size:18%;
	font-family:cursive;
	color:#0000FF;
}

.paleo{
	float:left;
	width:100%;
	min-height:200%;
}

.paleoheading{
	font-size:25%;
	font-family:cursive;
	width:15%;
	color:#800080;
}

.paleoimag{
	width:20%;
	text-align:left;
}

.paleodetails{
	width:60%;
	color:#800080;
	font-size:15%;
	font-family:cursive;
}


.dietNo2{
	min-height:205%;
}
.veganHeading{
	width:15%;
	font-size:25%;
	font-family:cursive;
	float:left;
}

.vegandietimage{
	width:20%;
	float:left;
}

.vegandetails{
	width:64%;
	float:left;
	text-align:left;
	font-family:cursive;
	font-size:15%;
}

.Lowcarbsdiet{
	min-height:100%;
}

.Lowcarbsdietheading{
	width:15%;
	font-size:25%;
	font-family:cursive;
	float:left;
}

.lowcarbsimage{
	width:20.50%;
    float:left;
}

.Lowcarbdetails{
	width:64.5%;
	float:left;
	font-size:15%;
	font-family:cursive;
	text-align:left;
	background-color:yellow;
}

.Jump Rope{
	float:left;
	width:100%;
}

.cardio{
	width:100%;
	min-height:2350%;
}

.cardio2{
	width:100%;
}

.cardioform1{
	width:20%;
}

.cardioform2{
	width:20%;
}

.cardioform3{
	width:20%;
	min-width:450%;
}

.pageTitleFrame{
	height:300%;
	width:100%;
	border:none 
}

.Exercise1ofBack{
	width:100%;
	min-height:500%;
}

.column1Exercise1ofBack{
	float:left;
    width:30%;	
}

.Details1Exercise1ofBack{
	float:left;
	width:50%;
}

.Exercise2ofBack{
	width:100%;
}

.column1Exercise2ofBack{
	width:30%;
	float:left;
}

.Details2ExerciseofBack{
	float:left;
	width:50%;
	font-family:cursive;
}



























